# Unreal Engine folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/

# Ignore project user settings but keep default configs
Saved/Config/WindowsEditor/GameUserSettings.ini
Saved/Logs/
Saved/Autosaves/
Saved/Backup/

# Build system files
*.sln
*.opensdf
*.sdf
*.suo
*.vcxproj*
*.xcodeproj
*.xcworkspace
*.build
*.make
*.cmake

# Compiled binaries
*.exe
*.dll
*.lib
*.app
*.ipa
*.pdb
*.exp
*.obj
*.bin

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific files
.idea/
*.iml

# Optional: ignore crash reports and profiling data
*.dmp
*.perf

# Optional: ignore plugin binaries
Plugins/**/Binaries/
Plugins/**/Intermediate/